<h1>All Animals</h1>
<hr />

<table style="width:100%">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Breed</th>
    <th>Type</th>
    <th>Adoptable</th>
    <th>Admission Date</th>
    <th>Adopted</th>
  </tr>
  <% for animal in @animals %>
      <tr>
        <td><p><a class="button" href="/animalshelter/animal/<%= animal.id %>/edit"</a>Edit</p></td>
        <td><%= animal.name %></td>
        <td><%= animal.breed %></td>
        <td><%= animal.type %></td>
        <td><% if animal.adoptable == "t" %> Yes <% else %> No <% end %></td>
        <td><%= animal.admission_date %></td>
        <td> <% if animal.owner_id != nil %> Yes <% else %> No <% end %></td>
      </tr>
  <% end %>
</table>

<p><a class="button" href="/animalshelter">Back</a>
<a class="button" href="/animalshelter/animal/new">Add Animal</a>
