<h1>All Owners and their adopted animals</h1>
<hr />

<table style="width:100%">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Adopted Animals</th>
  </tr>
  <% for owner in @owners %>
      <tr>
        <td><form action="/animalshelter/owner/<%= owner.id %>/delete" method="post">
        <p><input type="submit" value="Delete Owner"></p>
        </form></td>
        <td><%= owner.pretty_name %></td>
        <td>
          <% for animal in owner.adopted_animals %>
              <p>
                <b>Name:</b> <%= animal.name %>,
                <b>Breed:</b> <%= animal.breed %>,
                <b>Type:</b> <%= animal.type %>
              </p>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<p><a class="button" href="/animalshelter">Back</a>
  <a class="button" href="/animalshelter/owner/new">Add Owner</a>
